{{ define "order" }}

    {{ template "header" . }}

    <div {{ with $.platform_css }} class="{{.}}" {{ end }}>
        <span class="platform-flag">
            {{$.platform_name}}
        </span>
    </div>

    <main role="main" class="order">

        <section class="container order-complete-section">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>
                        你的订单已完成！
                    </h3>
                </div>
                <div class="col-12 text-center">
                    <p>我们已经发送了一封确认邮件.</p>
                </div>
            </div>
            <div class="row border-bottom-solid padding-y-24">
                <div class="col-6 pl-md-0">
                    订单号 #
                </div>
                <div class="col-6 pr-md-0 text-right">
                    {{.order.OrderId}}
                </div>
            </div>
            <div class="row border-bottom-solid padding-y-24">
                <div class="col-6 pl-md-0">
                    运单号 #
                </div>
                <div class="col-6 pr-md-0 text-right">
                    {{.order.ShippingTrackingId}}
                </div>
            </div>
            <div class="row padding-y-24">
                <div class="col-6 pl-md-0">
                    总计付款
                </div>
                <div class="col-6 pr-md-0 text-right">
                    {{renderMoney .total_paid}}
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a class="cymbal-button-primary" href="/" role="button">
                        继续购物
                    </a>
                </div>
            </div>
        </section>

        {{ if $.recommendations }}
            {{ template "recommendations" $.recommendations }}
        {{ end }}

    </main>

    {{ template "footer" . }}
    {{ end }}
