{{ define "recommendations" }}
<section class="recommendations">
    <div class="container">
      <div class="row">
        <div class="col-xl-10 offset-xl-1">
          <h2>你可能还喜欢下面的商品</h2>
          <div class="row">
            {{range . }}
            <div class="col-md-3">
              <div>
                <a href="/product/{{.Id}}">
                  <img alt="" src="{{.Picture}}">
                </a>
                <div>
                  <h5>
                    {{ .Name }}
                  </h5>
                </div>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
</section>
{{ end }}